.vision {
  width: 100vw;
  
  .header{

    padding-top: calc(205vw / 19.2);
    height: calc(160vw / 19.2);
    display: block;
    
    .title {
      width: calc(454vw / 19.2);
      height: calc(83vw / 19.2);
      text-align: left;
      color: #000599;
      position: relative;
      display: inline-block;
      padding-left: calc(118vw / 19.2);
      font-size: calc(110vw / 19.2);
      bottom: 29.75px;
      letter-spacing: calc(22vw / 19.2);
      font-weight: bold;
    }

    // 반원
    .title_img{
      width: calc(77vw/ 19.2);
      height: calc(160vw / 19.2);
    }
  }
  
  .main{
    display: flex;
    text-align: center;
    // align-content: center;
    // margin-top: 193px;
    // margin-left: 145px;
    // margin-right: 145px;
    padding-left: 182.25px;
  }
  
  .line{
    margin-top: 47.25px;
    width: 193.5px;
    height: 2.25px;
    color: #2e3192;
  }
  
  .name{
    font-size: 36px;
    text-align: center;
    color: #2E3192;
    letter-spacing: 2.25px;
  }
  
  .wendy{
    .img_wendy {
      height: 306px;
      width: 306px;
    }
    padding-right: 119.25px;
  }
  
  .joy{
    .img_joy {
      height: 306px;
      width: 306px;
    }
    padding-right: 119.25px;
  }
  
  .yeri{
    .img_yeri {
      height: 306px;
      width: 306px;
    }
  }

}