.AboutProduct {
    width: calc(1920vw / 19.2);
}

.title {
    width: 100vw;
    height: calc(267vw / 19.2);
    direction: rtl;

    // 텍스트
    .text_subtitle {
        display: inline-block;
        font-size: calc(30vw / 19.2);
        line-height: calc(45vw / 19.2);
        text-align: right;
        position: relative;
        bottom: calc(50vw / 19.2);
        padding-right: calc(52vw / 19.2);
    }

    // 수직선
    .vertical_line {
        width: calc(5vw / 19.2);
        height: calc(96vw / 19.2);
        position: relative;
        margin: 0;
        display: inline-block;
        bottom: calc(33vw / 19.2);
        background-color: #000599;
        border-style: hidden;
    }

    // PRODUCTS
    .text_title {
        width: calc(709vw / 19.2);
        height: calc(83vw / 19.2);
        text-align: left;
        color: #000599;
        position: relative;
        display: inline-block;
        font-size: calc(110vw / 19.2);
        letter-spacing: calc(22vw / 19.2);
        font-weight: bold;
        padding-left: calc(101vw / 19.2);
        bottom: calc(45vw / 19.2);
    }

    // 반원_오른쪽
    .semicircle_right {
        display: inline-block;
        position: relative;
        width: calc(83vw / 19.2);
        height: calc(160vw / 19.2);
        padding-left: calc(57vw / 19.2);
    }
}

.contents {
    width: 100vw;
    height: calc(595vw / 19.2);
    display: block;

    // 왼쪽 여백
    .space_left {
        width: calc(355vw / 19.2);
        height: calc(595vw / 19.2);
        display: inline-block;
        overflow: hidden;

        .parallelogram_left {
            display: inline-block;
            width: calc(1112vw / 19.2);
            height: calc(595vw / 19.2);
            position: relative;
            right: calc(780vw / 19.2);
            z-index: 2;
        }

        .arrow_1, .arrow_2 {
            height: calc(83vw / 19.2);
            display: inline-block;
            position: absolute;
            top: calc(3018vw / 19.2);
            z-index: 100;
        }

        .arrow_2 {
            width: calc(88vw / 19.2);
            left: calc(113vw / 19.2);
        }

        .arrow_1 {
            width: calc(39vw / 19.2);
            left: calc(206vw / 19.2);

        }
    }

    // Products 1
    .products_1 {
        width: calc(1112vw / 19.2);
        height: calc(595vw / 19.2);
        display: inline-block;
        // background-image: url('../../../../assets/img/parallelogram.png');
        background-color: #8781BD;
        position: relative;
        right: calc(304vw / 19.2);
        // z-index: 3;

        .img_products_1 {
            width: calc(741vw / 19.2);
            height: calc(595vw / 19.2);
            display: inline-block;
            position: relative;
            left: calc(220vw / 19.2);
            z-index: 1;
        }
    }
    
    // gap_1
    .gap_1{
        display: inline-block;
        position: relative;
        right: calc(583vw / 19.2);
        width: 0;
        height: 0;
        z-index: 1000;
        border-bottom: calc(261.7vw / 19.2) solid #8393ca;
        border-left: calc(128vw / 19.2) solid transparent;
    }

    // gap_2
    .gap_2 {
        display: inline-block;
        position: relative;
        right: calc(583vw / 19.2);
        bottom: calc(261.7vw / 19.2);
        width: 0;
	    height: 0;
	    border-top: calc(333.3vw / 19.2) solid #8781BD;
	    border-right: calc(163vw / 19.2) solid transparent;
        z-index: 1000;
    }

    // Products 2
    .products_2 {
        width: calc(1035vw / 19.2);
        height: calc(595vw / 19.2);
        display: inline-block;
        position: relative;
        bottom: calc(599vw / 19.2);
        left: calc(885vw / 19.2);
        background-color: #8393ca;

        .img_products_2 {
            width: calc(783vw / 19.2);
            height: calc(595vw / 19.2);
            display: inline-block;
            position: relative;
            left: calc(127vw / 19.2);
        }
    }

    // 오른쪽 여백
    .space_right {
        width: calc(222vw / 19.2);
        height: calc(595vw / 19.2);
        display: inline-block;
        position: relative;
        bottom: calc(599vw / 19.2);
        left: calc(661vw / 19.2);
        overflow: hidden;

        .parallelogram_right {
            display: inline-block;
            width: calc(1112vw / 19.2);
            height: calc(595vw / 19.2);
            position: relative;
            left: calc(25vw / 19.2);
        }
    }
}