.Header {
    
    // 상단 바
    display: block;
    background-color: #2E3192;
    width: calc(1920vw / 19.2);
    height: calc(189vw / 19.2);
    
    // saefolder 로고
    .logo {
        width: calc(522vw / 19.2);
        height: calc(92vw / 19.2);
        padding-left: calc(62vw / 19.2);
        position: relative;
        top: calc(97vw / 19.2);
    }
    
    
    // 크루소개, Product
    .menu {
        
        float: right;
        position: relative;
        top: calc(114vw / 19.2);
        padding-right: calc(118vw / 19.2);
        
        // 크루소개, Product 버튼 둘다
        .link_1, .link_2 {
            padding: 0;
            background: transparent;
            border: hidden;
            color: white;
            font-size: calc(43vw / 19.2);
            letter-spacing: calc(12.9vw / 19.2); // 자간
            text-decoration: none;
            line-height: calc(60vw / 19.2);
        }
        
        // 크루소개 버튼만
        .link_1 {
            margin-right: calc(214vw / 19.2);
        }
    }
}
