.introduce {
    width: 100%;
    min-width: 640px;
    height: 486px;
    position: relative;

    .text {
        padding-top: 155.25px;
        height: 121.5px;
        display: block;

        // 반원
        .ellipse_1 {
            height: 121.5px;
        }
    
        // '새폴더'
        .text_1 {
            color: #000599;
            position: relative;
            display: inline-block;
            padding-left: 101.25px;
            font-size: 73.125px;
            bottom: 29.75px;
            letter-spacing: 27px;
            font-weight: bold;
        }

        // '기상청이 앞으로 ~'
        .text_2 {
            display: inline-block;
            color: #000000;
            position: relative;
            bottom: 3px;
            font-size: 24px;
            padding-left: 91.125px; // 101.25 - 10.125 x
            line-height: 36.5625px;
        }
    }
    
    .bg {
        width: 513px;
        position: relative;
        float: right;
        bottom: 70px;
        right: 59px;
    }
}