.main {

    // 백그라운드 이미지
    background-image: url('../../../../assets/img/main_image.jpeg');
    background-size: cover;
    width: 100vw;
    height: calc(1123vw / 19.2);
    // overflow: hidden;
    display: inline-block;
    position: relative;
    // top: calc(-8vw / 19.2);
    
    .text{
        position: absolute;
        width: 100vw;
        color: white;
        text-align: center;
        font-family: GoyangIlsan;
        
        // our name
        .text_1{
            font-size: calc(60vw / 19.2);
            letter-spacing: calc(18vw / 19.2);
            padding-top: calc(368vw / 19.2);
        }

        // 새 로 운 시 작
        .text_2{
            font-size: calc(72vw / 19.2);
            word-spacing: calc(288vw / 19.2);
            padding-top: calc(134vw / 19.2);
            line-height: calc(48vw / 19.2);
        }

        //주말~
        .text_3{
            font-size: calc(30vw / 19.2);
            padding-top: calc(135vw / 19.2);
            line-height: calc(72vw / 19.2);
        }
        
    }
}
