.header{
  // margin-top: 150px; // 승호
  // display: block; // 승호
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  width: 100%; // 승호
  min-width: 640px; // 승호
  height: 292.5px; // 승호
  

  // 크루소개
  .title {
    margin: 0;
    // font-size: 120pt; // 승호
    font-size: 73.125px; // 승호
    padding-top: 61px; // 승호
    color: #000599;
    letter-spacing: 27px; // 승호
  }

  // 반원
  .title_img{
    height: 121.5px; // 승호
    padding-top: 49.5px;
    // margin-left: 155px; // 승호
    margin-left: 108px; // 승호
  }
}

.intro{
  display: inline-block;
  width: 100%; // 승호
  min-width: 640px; // 승호
  height: 1053px; // 승호

  // 아이린
  .intro1{
    height: 528.75px;
  
      // 아이린 사진
      .intro1_contents{
        display: flex;
        flex-direction: row;
        // height: 700px; // 승호
        height: 528.75px;
    
        .irene{
          width: 50%;
          height: 100%;
        }
        
        .irene_info{
          
          width: 50%;

          .irene_name{
            color: #2E3192;
            font-size: 54px;
            margin: 0;
            padding-top: 94.5px;
            padding-left: 81px;
          }
          
          .irene_prev{
            padding-left: 112.5px;
            padding-top: 63px;
            margin: 0;
            font-size: 22.5px;
            color: #000000;
            text-align: left;
          }
    
        }
      }

    .intro1_top_ln{
      position: absolute;
      width: 100%;
      top: 1711.25px;
      height: 18px;
    }
  
    .intro1_bottom_ln{
      position: relative;
      width: 100%;
      bottom: 39.25px;
      height: 18px;
    }
  
  }
  

  // 슬기
  .intro2{
    height: 528.75px;
    
    // 슬기 사진 및 설명
    .intro2_contents{
      display: flex;
      flex-direction: row-reverse;
      height: 528.75px;
      
      .seulgi{
        width: 50%;
        height: 100%;
      }
      
      .seulgi_info{
        
        width: 50%;

        .seulgi_name{
          color: #2E3192;
          text-align: right;
          font-size: 54px;
          margin: 0;
          padding-top: 130.5px;
          padding-right: 81px;
        }

        .seulgi_prev{
          padding-right: 81px;
          padding-top: 63px;
          margin: 0;
          font-size: 22.5px;
          color: #000000;
          text-align: right;
        }
        
      }
    } 
    
    .intro2_top_ln{
      width: 100%;
      position: absolute;
      top: 2242px;
      height: 18px;
    }
    
    .intro2_bottom_ln {
      width: 100%;
      position: relative;
      bottom: 38.25px;
      height: 18px;
    }
  

  }

}